{{ define "js"}}
	<script type="text/javascript">
		var c = document.getElementById("graffitiwall");
		var ctx = c.getContext("2d");
		ctx.fillStyle = "#FFFFFF"

		ctx.fillRect(0, 0, 999, 1099)

		ctx.fillStyle = "#000000"
		ctx.font = "15px Arial";
		ctx.fillText("by beaconcha.in", 875, 1030);

		ctx.beginPath();
		ctx.moveTo(0, 1000);
		ctx.lineTo(999, 1000);
		ctx.stroke();

		var pixels = {{.}}
			pixels.forEach(function (p) {
				ctx.fillStyle = "#" + p.color
				ctx.fillRect(p.x, p.y, 1, 1)
			})
	</script>
	<script type="text/javascript" src="http://localhost:8001/graffitiwall.js?b"></script>
	<script type="text/javascript">
		var graffities = []
		for (var i=0; i<1000; i++) {
			graffities.push({
				x: Math.random()*1000|0,
				y: Math.random()*1000|0,
				color: (Math.max(16**5,Math.random()*16**6|0)).toString(16),
				validator: Math.random()*20000|0,
			})
		}
		graffities.push({x:0,y:0,color:'ff0000',validator:1})
		graffities.push({x:0,y:999,color:'ff0000',validator:1})
		graffities.push({x:999,y:0,color:'ff0000',validator:1})
		graffities.push({x:999,y:999,color:'ff0000',validator:1})
		var graffitiWall = new GraffitiWall({
			wrapper: document.getElementById('graffitiwall2'),
			graffities: {{.}},
			// graffities: graffities,
		})
	</script>
{{end}}

{{ define "css"}}
{{end}}

{{ define "content"}}
	<div class="my-3">
		<div class="d-md-flex py-2 justify-content-md-between">
			<h1 class="h4 mb-1 mb-md-0"><i class="fas fa-paint-brush"></i> The Graffitiwall - Draw your stake!</h1>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
					<li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Graffitiwall</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="h6">How to participate?</h2>
			<p>
				In order to draw on the graffitiwall you will need to adjust the graffiti value your validator assigns to each proposed block.
				It must contain the following string <code>graffitiwall:<b>x</b>:<b>y</b>:<b>#000000</b></code> where <b>x</b> is the x coordinate of the pixel, y is the <b>y</b> coordinate of the pixel and <b>#000000</b> is the html color code of the pixel you want to set.
				For example in order to set the pixel at position x: 50 and y: 60 to the color #efefef you would set the following graffiti in your validator: <code>graffitiwall:<b>50</b>:<b>60</b>:<b>#efefef</b></code>.
				Pixels can be overwritten and only the most recent value will be shown. The total canvas size is 1000x1000 pixels.</p>
		</div>
	</div>
	<div class="row">
		<table>
			<tr><td>slot</td><td>val</td><td>col</td><td>x</td><td>y</td></tr>
			{{range $i, $e := .}}
				<tr>
					<td>{{.Slot}}</td>
					<td>{{.Validator}}</td>
					<td>{{.Color}}</td>
					<td>{{.X}}</td>
					<td>{{.Y}}</td>
				</tr>
			{{end}}
		</table>
	</div>
	<div class="row">
		<h2>v2</h2>
		<div class="col-md-12 text-center">
			<div id="graffitiwall2" style="width:100%;height:500px;position:relative;"></div>
		</div>
	</div>
	<div class="row">
		<h2>v1</h2>
		<div class="col-md-12 text-center">
			<canvas id="graffitiwall" width="1000" height="1050"></canvas>
		</div>
	</div>
{{end}}
